/* utilities */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(191, 136, 241) !important;
}

.slider-img img {
    height: 70vh;
    filter: brightness(30%);

}

.slider-caption .heading {
    font-size: 40PX;
}

.card-div .bgc-color {
    background-color: #F4FAFD;
}

footer {
    width: 100%;
    height: auto;
    background-color: black;
}

footer p {
    color: #E8E8E8;
}